.course-card{
    border-style: solid;
    border-color: rgb(197, 197, 197);
    border-radius: 7px;
    border-width: 2px;
    padding: 11px;
    margin: 5px 5px;
    position: relative;
    height: 280px;
    cursor: auto;
}

.selected{
    background-color:lemonchiffon;
    color: green;
}

.meeting-time{
    margin-top: 70px;
    padding: 6px;
    border-top: 1px solid rgb(197, 197, 197);
    display: block;
    position: absolute;
    top: 160px;
    width: 80%;
}

.class-title, h2{
    padding: 6px;
}

.conflict{
    background-color:rgb(123, 123, 123);
    cursor:auto;
}

.bi-pencil-square{
    position: relative;
    color: #146C43;
}

.deactivate{
    display: none;
}